<div class="overlay-search" [ngClass]="{ 'is-active': isOpen }">
  <span class="close-ico" (click)="onClose()"></span>
  <div class="search-block">
    <h3>Search Spotify</h3>
    <p class="text-grey">Find your favorite songs, artists, albums, podcasts and playlists.</p>
    <form class="form-inline" (ngSubmit)="onSubmit()">
      <div class="input-block">
        <input
          type="text"
          name="searchInput"
          [(ngModel)]="searchValue"
          placeholder="Start Typing..."
          class="input-search form-control"
          autofocus
        />
      </div>
    </form>
  </div>
</div>
