<div class="music-player">
  <div class="aside-player">
    <div class="img-container small rounded"></div>
    <div class="music-title">
      <div class="aside-title"></div>
      <div class="aside-title"></div>
    </div>
  </div>
  <div class="main-player">
    <div class="player-wrapper">
      <div class="player-main-ctrls">
        <span class="fas fa-redo" [ngClass]="{ 'side-ctrl-active': true }" (click)="toggleRepeat()"></span>
        <span class="fa fa-step-backward"></span>
        <span class="fa fa-play" [ngClass]="{ 'fa-pause': true }" (click)="playAudio()"></span>
        <span class="fa fa-step-forward"></span>
        <span class="fa fa-random" [ngClass]="{ 'side-ctrl-active': true }" (click)="toggleRandom()"></span>
      </div>
      <div class="player-loader">
        <div class="player-trackline-ctrls">
          <div class="current-track-duration"></div>
          <div class="trackline" (click)="seekTo($event)">
            <span class="current-track-position"></span>
            <span class="track-duration"></span>
          </div>
          <div class="track-time"></div>
        </div>
      </div>
      <div class="player-side-ctrls">
        <span
          class="fa"
          [ngClass]="{ 'fa-heart music-added': true, 'fa-heart-o': false }"
          (click)="addToFavourites()"
        ></span>
        <div class="player-volume-mix m-l-3">
          <div class="slidecontainer">
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange2" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <youtube-player [videoId]="id" (ready)="savePlayer($event)" (change)="onStateChange($event)"></youtube-player>
</div>
