.navbar-light {
  height: 70px;
  .navbar-nav {
    align-items: center;
    .nav-item {
      a {
        position: relative;
        .custom-badge {
          position: absolute;
          top: 0;
          right: 0;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #ff537d;
        }
      }
      &.profile-item {
        margin-left: 20px;
        .profile-icon {
          width: 35px;
          margin-right: 10px;
        }
      }
    }
  }
  .header-search {
    display: flex;
    flex: 1;
    align-items: center;
    .search-block {
      color: #979797;
      span {
        font-weight: 500;
        text-transform: uppercase;
        font-size: 14px;
        cursor: pointer;
        .fas {
          font-size: 18px;
          margin-right: 7px;
        }
      }
    }
  }
}
