<div class="dashboard-page">
    <div class="section-block bg-section" style="padding-bottom: 0">
        <div class="row">
            <div class="col-md-6">
                <span class="" style="color:#ff537d;font-size:12px;font-weight:500; background: #fee0e8; padding: 4px 12px;border-radius: 3px;">FEATURE</span>
                <h1 class="large-title m-b-2 m-t-1" style="font-size: 56px;">What`s hot this weekend?</h1>
                <p class="text-grey m-b-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent finibus urna eu luctus cursus. Ut laoreet vel odio eget finibus.</p>
                <a href="" class="submit-button"><i class="fa fa-play"></i> Listen</a>
                <a href="" class="default-button m-l-1">Check Artist`s</a>
            </div>
        </div>
        <div class="row m-t-1">
            <div class="col-md-6">
                <div *ngFor="let musicItem of getSubArray(0, 3);">
                    <div class="list-music-item">
                        <div class="tracklist-row" (click)="playAudio(musicItem)" [ngClass]="{'active-item': playingEvent === 'play'}">
                            <div class="tracklist-row__artist-img">
                                <div class="img-container float-left">
                                    <img src="{{musicItem.coverImage}}" >
                                    <span class="fa fa-play icon-anim-container"></span>
                                </div>
                            </div>
                            <div class="tracklist-row__artist-title">
                                <p class="music-title" style="font-size: 14px;">{{musicItem.title[1]}}</p>
                                <div class="divider small"></div>
                                <p class="music-title">
                                    {{musicItem.title[0]}}  <span *ngIf="playingEvent === 'play'" class="primary-text">| Playing</span>
                                </p>
                            </div>
                            <div>
                                <span class="" style="color:#8e8e8e;font-size:12px;font-weight:500; background: #ececec; padding: 2px 10px;border-radius: 20px;">#{{musicItem.tags}}</span>
                            </div>
                            <div class="tracklist-row__duration">
                                3:25
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div *ngFor="let musicItem of getSubArray(3, 6);">
                    <div class="list-music-item">
                        <div class="tracklist-row" (click)="playAudio(musicItem)" [ngClass]="{'active-item': playingEvent === 'play'}">
                            <div class="tracklist-row__artist-img">
                                <div class="img-container float-left">
                                    <img src="{{musicItem.coverImage}}" >
                                    <span class="fa fa-play icon-anim-container"></span>
                                </div>
                            </div>
                            <div class="tracklist-row__artist-title">
                                <p class="music-title" style="font-size: 14px;">{{musicItem.title[1]}}</p>
                                <div class="divider small"></div>
                                <p class="music-title">
                                    {{musicItem.title[0]}}  <span *ngIf="playingEvent === 'play'" class="primary-text">| Playing</span>
                                </p>
                            </div>
                            <div>
                                <span class="" style="color:#8e8e8e;font-size:12px;font-weight:500; background: #ececec; padding: 2px 10px;border-radius: 20px;">#{{musicItem.tags}}</span>
                            </div>
                            <div class="tracklist-row__duration">
                                3:25
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="feature-block">
        <div class="row">
            <div class="col-md-12" style="margin-top: 60px;">
                <h1 class="large-title">Featured Album`s</h1>
                <p class="text-grey" style="margin:10px 0 0;">For better results you can <a href="" class="link">define your choice</a></p>
                <i class="fa fa-chevron-right float-right"></i>
                <i class="fa fa-chevron-left float-right" style="color:#ddd;"></i>
            </div>
            <owl-carousel [options]="{items: 7, dots: false, navigation: false}"
                          [items]="musicList"
                          [carouselClasses]="['owl-theme', 'row', 'sliding']">
                <div class="music-box clearfix" style="padding: 0 5px" *ngFor="let musicItem of musicList;let i = index">
                    <div>
                        <div class="list-music-item">
                            <div class="tracklist-column">
                                <div class="inner-wrapper">
                                    <div class="img-container">
                                        <div class="overlay">
                        <span class="play-icon" *ngIf="playingEvent === 'pause'" (click)="playAudio(musicList)">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 163.861 163.861" style="enable-background:new 0 0 163.861 163.861;" xml:space="preserve">
                                <g>
                                    <path d="M34.857,3.613C20.084-4.861,8.107,2.081,8.107,19.106v125.637c0,17.042,11.977,23.975,26.75,15.509L144.67,97.275   c14.778-8.477,14.778-22.211,0-30.686L34.857,3.613z" fill="#FFFFFF"/>
                                </g>
                            </svg>
                        </span>
                                            <span class="pause-icon" *ngIf="playingEvent === 'play'" (click)="pauseSong()">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 792 792" style="enable-background:new 0 0 792 792;" xml:space="preserve">
                                <g id="_x38__12_">
                                    <g>
                                        <path d="M282.856,0H169.714c-31.228,0-56.571,25.344-56.571,56.571v678.857c0,31.228,25.344,56.571,56.571,56.571h113.143     c31.256,0,56.572-25.315,56.572-56.571V56.571C339.428,25.344,314.112,0,282.856,0z M622.285,0H509.143     c-31.256,0-56.572,25.344-56.572,56.571v678.857c0,31.228,25.316,56.571,56.572,56.571h113.143     c31.256,0,56.572-25.315,56.572-56.571V56.571C678.857,25.344,653.541,0,622.285,0z" fill="#FFFFFF"/>
                                    </g>
                                </g>
                            </svg>
                        </span>
                                            <span class="fa fa-heart-o" (click)="addToFavourites()"></span>
                                        </div>
                                        <img class="img-responsive" src="{{musicItem.coverImage}}" alt="">
                                        <img class="shadow img-responsive" src="{{musicItem.coverImage}}" alt="">
                                    </div>
                                    <div class="music-info-description text-center">
                                        <p class="music-title" style="font-size: 14px;color: #1a232d;font-weight: 700">{{musicItem.title[0]}}</p>
                                        <p class="music-title text-grey" style="font-size:13px;margin-top: 5px;font-weight: 400">{{musicItem.title[1]}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </owl-carousel>
        </div>
    </div>
    <div class="artist-block">
        <h1 class="large-title">Top Artist`s</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 no-padding">
                    <p class="text-grey" style="margin: 10px 0 0;">For better results you can <a href="" class="link">define your choice</a></p>
                </div>

            </div>
        </div>
        <owl-carousel [options]="{items: 8, dots: false, navigation: false}"
                      [items]="musicList"
                      [carouselClasses]="['owl-theme', 'row', 'sliding']">
            <div class="music-box clearfix" style="padding: 0 15px" *ngFor="let musicItem of musicList;let i = index">
                <div class="artist-block">
                    <div class="artist-header">
                        <div class="img-container">
                            <div class="overlay"></div>
                            <img class="img-responsive" src="{{musicItem.coverImage}}" >
                            <img alt="" class="shadow img-responsive" src="{{musicItem.coverImage}}">
                        </div>
                        <div class="artist-header__title">
                            <p class="text-dark">{{musicItem.title[0]}}</p>
                            <p>184 Followers</p>
                        </div>
                    </div>
                </div>
            </div>
        </owl-carousel>
    </div>

    <div class="realease-block">
        <div class="title clearfix">
            <h1 class="large-title float-left">Latest Album Releases</h1>
            <a href="" class="link float-right">See all</a>
        </div>
        <p class="text-grey" style="margin:10px 0 0;">For better results you can ...</p>
    </div>
</div>