@import "src/theme/theme-variables";

.search-input {
  h4 {
    font-size: 14px;
    font-weight: 500;
  }
  p {
    font-size: 12px;
  }
  form {
    .input-block {
      border-bottom: 1px solid #ddd;
    }
    .form-control {
      border: none;
      background: transparent;
      box-shadow: none;
      padding-left: 0;
    }
  }
}
.nav {
  .nav-item {
    margin: 0 20px;
    &:first-child {
      margin-left: 0;
    }
    .nav-link {
      font-size: 14px;
      font-weight: 500;
      color: $color-secondary;
      padding: 10px 0;
      text-transform: uppercase;
      &.active {
        font-weight: 700;
        border-bottom: 2px solid $color-primary;
      }
    }
  }
}
